@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
/*  scss variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Nanum Gothic Coding', monospace;
  background: #c03838; }

h1 {
  margin: 6rem auto 1rem;
  text-align: center;
  color: antiquewhite;
  text-shadow: 1px 2px 2px black;
  letter-spacing: 0.2em; }

.wrapper {
  width: 90%;
  height: 250px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #e070c8;
  border: 2px solid #a769cc;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.5); }

/* audio- range styling */
input[type=range] {
  /* Hides the slider so that custom slider can be made */
  -webkit-appearance: none;
  /* Specific width is required for Firefox. */
  width: 100%;
  max-width: 700px; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]:focus {
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  outline: none;
  width: 90%; }

/* Styling the track */
input[type=range]::-webkit-slider-runnable-track {
  width: 90%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px pink, 0px 0px 1px #0d0d0d;
  background: #a769cc;
  border-radius: 1.3px;
  border: 0.2px solid #010101; }

/* Special Styling for Webkit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #a769cc;
  height: 34px;
  width: 16px;
  border-radius: 3px;
  background: #ff9800;
  cursor: pointer;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  margin-top: -12px;
  /* Add cool effects to your sliders! */
  box-shadow: 1px 1px 1px pink, 0px 0px 1px #0d0d0d; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a769cc; }

input[type=range]::-moz-range-track {
  width: 90%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px pink, 0px 0px 1px #0d0d0d;
  background: #a769cc;
  border-radius: 1.3px;
  border: 0.2px solid #a769cc; }

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px pink, 0px 0px 1px #0d0d0d;
  border: 1px solid #a769cc;
  height: 34px;
  width: 16px;
  border-radius: 3px;
  background: #ff9800;
  cursor: pointer; }

/* This gives us invisible or unstyled range inputs in all browsers. Now we can apply our custom styles.*/
input[type=range]::-ms-track {
  width: 90%;
  cursor: pointer;
  height: 10px;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #a769cc;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px pink, 0px 0px 1px #0d0d0d; }

input[type=range]::-ms-fill-upper {
  background: #a769cc;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px pink, 0px 0px 1px #0d0d0d; }

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px pink, 0px 0px 1px #0d0d0d;
  border: 1px solid #a769cc;
  height: 34px;
  width: 16px;
  border-radius: 3px;
  background: #ff9800;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #a769cc; }

input[type=range]:focus::-ms-fill-upper {
  background: #a769cc; }

.audio-buttons {
  width: 100%;
  max-width: 600px;
  margin: 3rem auto;
  display: flex;
  justify-content: center; }
  .audio-buttons .play-pause {
    width: 90%;
    background: #000;
    padding: 7px;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    background: #ff9800;
    color: #a769cc;
    border: 2px solid #a769cc;
    width: 90px;
    letter-spacing: 0.09rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 8px #a769cc; }
    .audio-buttons .play-pause:hover {
      box-shadow: 0 5px #a769cc;
      transform: translateY(4px); }
    .audio-buttons .play-pause:active {
      box-shadow: 0 5px #a769cc;
      transform: translateY(4px); }

input[type=range] {
  width: 90%;
  max-width: 700px; }

/* Footer styling based on Philip Walton's Sticky Footer used with CSS Flexbox. */
.site-footer {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-size: 100%;
  color: antiquewhite; }
  @media (min-width: 411px) {
    .site-footer {
      font-size: 120%; } }
  @media (min-width: 600px) {
    .site-footer {
      font-size: 150%; } }

:root {
  --space: 1.5em 0;
  --space: 2em 0; }

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.Site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%; }

.Site-content:after {
  content: "\00a0";
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden; }
